<!--@subject Relatório dos e-mails enviados 💌 @-->

<div style="margin:1em; font-size:12px; line-height:16px;" lang="pt">
	<p>Este é o relatório {{var frequency}} em relação aos envios de e-mails.
	<br>Período de <strong>{{var date_period_from}}</strong> a <strong>{{var date_period_to}}</strong>.</p>

	<p>Sobre os <strong>{{number total_email}}</strong> e-mails previstos:
	<br><span style="color:#B3B4B3;">➤ E-mail(s) em espera: {{number total_pending}}</span>
	<br><span style="color:#FF9C00;">➤ E-mail(s) em processo de envio: {{number total_sending}}</span>
	<br><span style="color:#FFC700;">➤ E-mail(s) enviado(s): <strong>{{number total_sent}}</strong></span>
	<br><span style="color:#3CB861;">➤ E-mail(s) aberto(s)/lido(s): <strong>{{number total_read}}</strong></span>
	<br><span style="color:#E41101;">➤ E-mail(s) em erro: {{number total_error}}</span>
	<br><span style="color:purple;">➤ E-mail(s) não enviado(s): {{number total_unsent}}</span>
	<br><span style="color:black;">➤ E-mail(s) bloqueado(s): {{number total_bounce}}</span></p>

	{{depend import_bounces}}
		<p style="padding-left:0.5em; text-indent:-0.5em;">Importação dos e-mails inválidos: {{var import_bounces}}</p>
	{{/depend}}
	{{depend import_unsubscribers}}
		<p style="padding-left:0.5em; text-indent:-0.5em;">Importação dos e-mails desinscritos: {{var import_unsubscribers}}</p>
	{{/depend}}

	<table style="margin:1.5em 0 1em; background-color:#F2F2F2;">
		<caption style="padding-bottom:8px; font-size:12px; text-align:left;">Pequeno histórico dos dados:</caption>
		<thead>
			<tr>
				<th scope="col" style="padding:2px 5px; font-size:12px; font-weight:400;">Período</th>
				<td style="font-size:12px;">|</td>
				<th scope="col" style="padding:2px 5px; font-size:12px; font-weight:400; text-align:left;">E-mail</th>
				<th scope="col" style="padding:2px 5px; font-size:12px; font-weight:400; text-align:left;">enviado</th>
				<th scope="col" style="padding:2px 5px; font-size:12px; font-weight:400; text-align:left;">aberto/lido</th>
				{{depend sync}}
					<td style="font-size:12px;">|</td>
					<th scope="col" style="padding:2px 5px; font-size:12px; font-weight:400; text-align:left;" title="Sincronização">Sinc.</th>
					<th scope="col" style="padding:2px 5px; font-size:12px; font-weight:400; text-align:left;">bem sucedida</th>
				{{/depend}}
				<td style="font-size:12px; background-color:white;">&nbsp;</td>
				<th scope="col" style="padding:2px 5px; font-size:12px; font-weight:400;">Período</th>
				<td style="font-size:12px;">|</td>
				<th scope="col" style="padding:2px 5px; font-size:12px; font-weight:400; text-align:left;">E-mail</th>
				<th scope="col" style="padding:2px 5px; font-size:12px; font-weight:400; text-align:left;">enviado</th>
				<th scope="col" style="padding:2px 5px; font-size:12px; font-weight:400; text-align:left;">aberto/lido</th>
				{{depend sync}}
					<td style="font-size:12px;">|</td>
					<th scope="col" style="padding:2px 5px; font-size:12px; font-weight:400; text-align:left;" title="Sincronização">Sinc.</th>
					<th scope="col" style="padding:2px 5px; font-size:12px; font-weight:400; text-align:left;">bem sucedida</th>
				{{/depend}}
			</tr>
		</thead>
		<tbody>
			<tr>
				<td colspan="5" style="font-size:5px; line-height:5px;">&nbsp;</td>
				{{depend sync}}
					<td colspan="3" style="font-size:5px; line-height:5px;">&nbsp;</td>
				{{/depend}}
				<td style="font-size:5px; line-height:5px; background-color:white;">&nbsp;</td>
				<td colspan="5" style="font-size:5px; line-height:5px;">&nbsp;</td>
				{{depend sync}}
					<td colspan="3" style="font-size:5px; line-height:5px;">&nbsp;</td>
				{{/depend}}
			</tr>
			{{foreach items}}
				<tr>
					<th scope="row" style="padding:2px 5px 3px; line-height:16px; font-size:12px; font-weight:400;">
						{{var items.week_period}}
					</th>
					<td style="font-size:12px;">|<br>|</td>
					<td style="padding:2px 5px 3px; line-height:16px; font-size:12px; text-align:left; white-space:nowrap; vertical-align:top;">
						{{if items.week_variation_email gt 5}}
							<strong>{{number items.week_total_email}}</strong>
							<br><small style="color:#3CB861;">↗ +{{number items.week_variation_email}} %</small>
						{{elseif items.week_variation_email lt -5}}
							<strong>{{number items.week_total_email}}</strong>
							<br><small style="color:#E41101;">↘ {{number items.week_variation_email}} %</small>
						{{else}}
							<strong>{{number items.week_total_email}}</strong>
						{{/if}}
					</td>
					<td style="padding:2px 5px 3px; line-height:16px; font-size:12px; text-align:left; white-space:nowrap; vertical-align:top;">
						{{if items.week_total_email eq 0}}

						{{elseif items.week_variation_sent gt 5}}
							<strong>{{number items.week_percent_sent}} %</strong>
							<br><small style="color:#3CB861;">↗ +{{number items.week_variation_sent}} %</small>
						{{elseif items.week_variation_sent lt -5}}
							<strong>{{number items.week_percent_sent}} %</strong>
							<br><small style="color:#E41101;">↘ {{number items.week_variation_sent}} %</small>
						{{else}}
							<strong>{{number items.week_percent_sent}} %</strong>
						{{/if}}
					</td>
					<td style="padding:2px 5px 3px; line-height:16px; font-size:12px; text-align:left; white-space:nowrap; vertical-align:top;">
						{{if items.week_total_email eq 0}}

						{{elseif items.week_variation_read gt 5}}
							<strong>{{number items.week_percent_read}} %</strong>
							<br><small style="color:#3CB861;">↗ +{{number items.week_variation_read}} %</small>
						{{elseif items.week_variation_read lt -5}}
							<strong>{{number items.week_percent_read}} %</strong>
							<br><small style="color:#E41101;">↘ {{number items.week_variation_read}} %</small>
						{{else}}
							<strong>{{number items.week_percent_read}} %</strong>
						{{/if}}
					</td>
					{{depend sync}}
						<td style="font-size:12px;">|<br>|</td>
						<td style="padding:2px 5px 3px; line-height:16px; font-size:12px; text-align:left; white-space:nowrap; vertical-align:top;">
							{{if items.week_variation_sync gt 5}}
								<strong>{{number items.week_total_sync}}</strong>
								<br><small style="color:#3CB861;">↗ +{{number items.week_variation_sync}} %</small>
							{{elseif items.week_variation_sync lt -5}}
								<strong>{{number items.week_total_sync}}</strong>
								<br><small style="color:#E41101;">↘ {{number items.week_variation_sync}} %</small>
							{{else}}
								<strong>{{number items.week_total_sync}}</strong>
							{{/if}}
						</td>
						<td style="padding:2px 5px 3px; line-height:16px; font-size:12px; text-align:left; white-space:nowrap; vertical-align:top;">
							{{if items.week_total_sync eq 0}}

							{{elseif items.week_variation_success gt 5}}
								<strong>{{number items.week_percent_success}} %</strong>
								<br><small style="color:#3CB861;">↗ +{{number items.week_variation_success}} %</small>
							{{elseif items.week_variation_success lt -5}}
								<strong>{{number items.week_percent_success}} %</strong>
								<br><small style="color:#E41101;">↘ {{number items.week_variation_success}} %</small>
							{{else}}
								<strong>{{number items.week_percent_success}} %</strong>
							{{/if}}
						</td>
					{{/depend}}
					<td style="font-size:12px; background-color:white;">&nbsp;</td>
					<th scope="row" style="padding:2px 5px 3px; line-height:16px; font-size:12px; font-weight:400;">
						{{var items.month_period}}
					</th>
					<td style="font-size:12px;">|<br>|</td>
					<td style="padding:2px 5px 3px; line-height:16px; font-size:12px; text-align:left; white-space:nowrap; vertical-align:top;">
						{{if items.month_variation_email gt 5}}
							<strong>{{number items.month_total_email}}</strong>
							<br><small style="color:#3CB861;">↗ +{{number items.month_variation_email}} %</small>
						{{elseif items.month_variation_email lt -5}}
							<strong>{{number items.month_total_email}}</strong>
							<br><small style="color:#E41101;">↘ {{number items.month_variation_email}} %</small>
						{{else}}
							<strong>{{number items.month_total_email}}</strong>
						{{/if}}
					</td>
					<td style="padding:2px 5px 3px; line-height:16px; font-size:12px; text-align:left; white-space:nowrap; vertical-align:top;">
						{{if items.month_total_email eq 0}}

						{{elseif items.month_variation_sent gt 5}}
							<strong>{{number items.month_percent_sent}} %</strong>
							<br><small style="color:#3CB861;">↗ +{{number items.month_variation_sent}} %</small>
						{{elseif items.month_variation_sent lt -5}}
							<strong>{{number items.month_percent_sent}} %</strong>
							<br><small style="color:#E41101;">↘ {{number items.month_variation_sent}} %</small>
						{{else}}
							<strong>{{number items.month_percent_sent}} %</strong>
						{{/if}}
					</td>
					<td style="padding:2px 5px 3px; line-height:16px; font-size:12px; text-align:left; white-space:nowrap; vertical-align:top;">
						{{if items.month_total_email eq 0}}

						{{elseif items.month_variation_read gt 5}}
							<strong>{{number items.month_percent_read}} %</strong>
							<br><small style="color:#3CB861;">↗ +{{number items.month_variation_read}} %</small>
						{{elseif items.month_variation_read lt -5}}
							<strong>{{number items.month_percent_read}} %</strong>
							<br><small style="color:#E41101;">↘ {{number items.month_variation_read}} %</small>
						{{else}}
							<strong>{{number items.month_percent_read}} %</strong>
						{{/if}}
					</td>
					{{depend sync}}
						<td style="font-size:12px;">|<br>|</td>
						<td style="padding:2px 5px 3px; line-height:16px; font-size:12px; text-align:left; white-space:nowrap; vertical-align:top;">
							{{if items.month_variation_sync gt 5}}
								<strong>{{number items.month_total_sync}}</strong>
								<br><small style="color:#3CB861;">↗ +{{number items.month_variation_sync}} %</small>
							{{elseif items.month_variation_sync lt -5}}
								<strong>{{number items.month_total_sync}}</strong>
								<br><small style="color:#E41101;">↘ {{number items.month_variation_sync}} %</small>
							{{else}}
								<strong>{{number items.month_total_sync}}</strong>
							{{/if}}
						</td>
						<td style="padding:2px 5px 3px; line-height:16px; font-size:12px; text-align:left; white-space:nowrap; vertical-align:top;">
							{{if items.month_total_sync eq 0}}

							{{elseif items.month_variation_success gt 5}}
								<strong>{{number items.month_percent_success}} %</strong>
								<br><small style="color:#3CB861;">↗ +{{number items.month_variation_success}} %</small>
							{{elseif items.month_variation_success lt -5}}
								<strong>{{number items.month_percent_success}} %</strong>
								<br><small style="color:#E41101;">↘ {{number items.month_variation_success}} %</small>
							{{else}}
								<strong>{{number items.month_percent_success}} %</strong>
							{{/if}}
						</td>
					{{/depend}}
				</tr>
			{{/foreach}}
		</tbody>
	</table>

	{{depend error_list}}
		<ul style="margin:1.5em 0; padding:0.5em 0 0; font-size:0.9em; line-height:1.3em; list-style:none; border-top:1px dashed #777;">
			<li style="margin:0.8em 0 0.5em;">{{var error_list}}</li>
		</ul>
	{{/depend}}

	<p style="font-size:0.8em; line-height:1.35em; font-style:italic; color:#6F6F6F;">{{config path='design/head/default_title'}} - Relatório dos e-mails enviados 💌
	<br><a href="{{var config}}" style="color:#6F6F6F;">{{var config}}</a> - <a href="#online#" style="color:#6F6F6F;">ver no meu navegador</a> #readimg# #mailid#cron#</p>
</div>