<?xml version="1.0" encoding="utf-8"?>
<!--
 * Created D/22/03/2015
 * Updated V/11/11/2016
 *
 * Copyright 2015-2017 | Fabrice Creuzot <fabrice.creuzot~label-park~com>, Fabrice Creuzot (luigifab) <code~luigifab~info>
 * https://redmine.luigifab.info/projects/magento/wiki/maillog
 *
 * This program is free software, you can redistribute it or modify
 * it under the terms of the GNU General Public License (GPL) as published
 * by the free software foundation, either version 2 of the license, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but without any warranty, without even the implied warranty of
 * merchantability or fitness for a particular purpose. See the
 * GNU General Public License (GPL) for more details.
-->

<config>
	<tabs>
		<luigifab>
			<label>luigifab</label>
			<sort_order>103</sort_order>
		</luigifab>
	</tabs>
	<sections>
		<maillog translate="label">
			<label>Transactionnal emails</label>
			<tab>luigifab</tab>
			<sort_order>63</sort_order>
			<show_in_default>1</show_in_default>
			<show_in_website>0</show_in_website>
			<show_in_store>0</show_in_store>
			<groups>
				<help>
					<sort_order>0</sort_order>
					<show_in_default>1</show_in_default>
					<show_in_website>0</show_in_website>
					<show_in_store>0</show_in_store>
					<frontend_model>maillog/adminhtml_config_help</frontend_model>
				</help>
				<general translate="label">
					<label>General</label>
					<sort_order>1</sort_order>
					<show_in_default>1</show_in_default>
					<show_in_website>0</show_in_website>
					<show_in_store>0</show_in_store>
					<expanded>1</expanded>
					<fields>
						<enabled translate="label">
							<label>Enable</label>
							<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_yesno</source_model>
							<sort_order>1</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>0</show_in_website>
							<show_in_store>0</show_in_store>
						</enabled>
						<send translate="label">
							<label>Send emails</label>
							<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_yesno</source_model>
							<sort_order>2</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>0</show_in_website>
							<show_in_store>0</show_in_store>
						</send>
						<background translate="label">
							<label>Send emails in background</label>
							<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_yesno</source_model>
							<sort_order>3</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>0</show_in_website>
							<show_in_store>0</show_in_store>
						</background>
						<minify translate="label comment">
							<label><![CDATA[Minify <abbr title="HyperText Markup Language">HTML</abbr> code]]></label>
							<comment><![CDATA[May require <a href="http://us.php.net/manual/en/book.tidy.php" onclick="window.open(this.href); return false;">PHP-TIDY</a>.]]></comment>
							<frontend_type>select</frontend_type>
							<source_model>maillog/source_minify</source_model>
							<sort_order>4</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>0</show_in_website>
							<show_in_store>0</show_in_store>
						</minify>
						<options translate="label">
							<label>Options</label>
							<frontend_model>adminhtml/system_config_form_field_heading</frontend_model>
							<sort_order>10</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>0</show_in_website>
							<show_in_store>0</show_in_store>
						</options>
						<number translate="label">
							<label>Number of emails per page</label>
							<frontend_type>select</frontend_type>
							<source_model>maillog/source_number</source_model>
							<sort_order>11</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>0</show_in_website>
							<show_in_store>0</show_in_store>
						</number>
						<subject translate="label">
							<label>Show the subject column</label>
							<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_yesno</source_model>
							<sort_order>12</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>0</show_in_website>
							<show_in_store>0</show_in_store>
						</subject>
						<size translate="label">
							<label>Show the size column</label>
							<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_yesno</source_model>
							<sort_order>13</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>0</show_in_website>
							<show_in_store>0</show_in_store>
						</size>
						<created translate="label">
							<label>Show the created at column</label>
							<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_yesno</source_model>
							<sort_order>14</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>0</show_in_website>
							<show_in_store>0</show_in_store>
						</created>
						<stats translate="label">
							<label>Statistics</label>
							<frontend_model>adminhtml/system_config_form_field_heading</frontend_model>
							<sort_order>20</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>0</show_in_website>
							<show_in_store>0</show_in_store>
						</stats>
						<stats_nb translate="label">
							<label>Number of emails</label>
							<frontend_type>label</frontend_type>
							<frontend_model>maillog/adminhtml_config_email</frontend_model>
							<sort_order>21</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>0</show_in_website>
							<show_in_store>0</show_in_store>
						</stats_nb>
						<stats_size translate="label">
							<label>Table size</label>
							<frontend_type>label</frontend_type>
							<frontend_model>maillog/adminhtml_config_size</frontend_model>
							<sort_order>22</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>0</show_in_website>
							<show_in_store>0</show_in_store>
						</stats_size>
					</fields>
				</general>
				<email translate="label">
					<label>Email reports</label>
					<sort_order>2</sort_order>
					<show_in_default>1</show_in_default>
					<show_in_website>0</show_in_website>
					<show_in_store>0</show_in_store>
					<expanded>1</expanded>
					<fields>
						<enabled translate="label">
							<label>Enable</label>
							<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_yesno</source_model>
							<sort_order>1</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>0</show_in_website>
							<show_in_store>0</show_in_store>
						</enabled>
						<frequency translate="label">
							<label>Frequency</label>
							<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_cron_frequency</source_model>
							<sort_order>2</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>0</show_in_website>
							<show_in_store>0</show_in_store>
						</frequency>
						<recipient_email translate="label comment">
							<label>Send Emails To</label>
							<comment>Separate addresses by a space.</comment>
							<frontend_type>text</frontend_type>
							<!--backend_model>adminhtml/system_config_backend_email_address</backend_model-->
							<sort_order>3</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>0</show_in_website>
							<show_in_store>0</show_in_store>
						</recipient_email>
						<sender_email_identity translate="label">
							<label>Email Sender</label>
							<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_email_identity</source_model>
							<backend_model>adminhtml/system_config_backend_email_sender</backend_model>
							<sort_order>4</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>0</show_in_website>
							<show_in_store>0</show_in_store>
						</sender_email_identity>
						<template translate="label">
							<label>Email Template</label>
							<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_email_template</source_model>
							<sort_order>5</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>0</show_in_website>
							<show_in_store>0</show_in_store>
						</template>
					</fields>
				</email>
				<sync translate="label comment">
					<label><![CDATA[<abbr title="Application Programming Interface">API</abbr> synchonization]]></label>
					<comment><![CDATA[
						<p>Synchronization allow to synchronize customer data from <b>Magento</b> to your newsletter <b>System</b>.<br />It is performed in real time on the following events (whether from the backend or from the frontend):</p>
						<ul>
							<li>when customer login,</li>
							<li>when saving or deleting a customer,</li>
							<li>when saving or deleting a subscriber,</li>
							<li>when saving a shipping address of a customer,</li>
							<li>when invoicing an order.</li>
						</ul>
						<p><strong>Warning! We must enable synchronization only when configuring the synchronization is complete.</strong></p>
					]]></comment>
					<sort_order>4</sort_order>
					<show_in_default>1</show_in_default>
					<show_in_website>0</show_in_website>
					<show_in_store>0</show_in_store>
					<fields>
						<enabled translate="label">
							<label>Enable</label>
							<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_yesno</source_model>
							<sort_order>1</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>0</show_in_website>
							<show_in_store>0</show_in_store>
						</enabled>
						<type translate="label">
							<label>System</label>
							<frontend_type>select</frontend_type>
							<source_model>maillog/source_type</source_model>
							<sort_order>2</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>0</show_in_website>
							<show_in_store>0</show_in_store>
						</type>
						<background translate="label">
							<label>Sync in background</label>
							<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_yesno</source_model>
							<sort_order>3</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>0</show_in_website>
							<show_in_store>0</show_in_store>
						</background>
						<lifetime translate="label">
							<label>Lifetime of the synchronization history</label>
							<frontend_type>select</frontend_type>
							<source_model>maillog/source_lifetime</source_model>
							<sort_order>4</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>0</show_in_website>
							<show_in_store>0</show_in_store>
						</lifetime>
						<api translate="label">
							<label><![CDATA[<abbr title="Application Programming Interface">API</abbr>]]></label>
							<frontend_model>adminhtml/system_config_form_field_heading</frontend_model>
							<sort_order>10</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>0</show_in_website>
							<show_in_store>0</show_in_store>
						</api>
						<api_username translate="label">
							<label>Username</label>
							<frontend_type>obscure</frontend_type>
							<backend_model>adminhtml/system_config_backend_encrypted</backend_model>
							<sort_order>11</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>0</show_in_website>
							<show_in_store>0</show_in_store>
						</api_username>
						<api_password translate="label">
							<label>Password</label>
							<frontend_type>obscure</frontend_type>
							<backend_model>adminhtml/system_config_backend_encrypted</backend_model>
							<sort_order>12</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>0</show_in_website>
							<show_in_store>0</show_in_store>
						</api_password>
						<api_url translate="label">
							<label>Address</label>
							<frontend_type>text</frontend_type>
							<sort_order>13</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>0</show_in_website>
							<show_in_store>0</show_in_store>
						</api_url>
						<mapping translate="label">
							<label>Correspondence of attributes</label>
							<frontend_model>adminhtml/system_config_form_field_heading</frontend_model>
							<sort_order>20</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>0</show_in_website>
							<show_in_store>0</show_in_store>
						</mapping>
						<mapping_customerid_field>
							<sort_order>21</sort_order>
							<show_in_default>0</show_in_default><!-- voir maillog/adminhtml_config_mapping -->
							<show_in_website>0</show_in_website>
							<show_in_store>0</show_in_store>
						</mapping_customerid_field>
						<mapping_config translate="label">
							<label>Configuration</label>
							<frontend_type>textarea</frontend_type>
							<frontend_model>maillog/adminhtml_config_mapping</frontend_model>
							<sort_order>22</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>0</show_in_website>
							<show_in_store>0</show_in_store>
						</mapping_config>
					</fields>
				</sync>
				<bounces translate="label comment">
					<label>Invalid emails import</label>
					<comment><![CDATA[<p>This import allows to import invalid emails from your newsletter <b>System</b> to <b>Magento</b>.<br />It is carried out punctually by cron task (maximum once per day) thanks to the newest file in the specified folder below.</p>]]></comment>
					<sort_order>5</sort_order>
					<show_in_default>1</show_in_default>
					<show_in_website>0</show_in_website>
					<show_in_store>0</show_in_store>
					<fields>
						<enabled translate="label">
							<label>Enable</label>
							<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_yesno</source_model>
							<sort_order>1</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>0</show_in_website>
							<show_in_store>0</show_in_store>
						</enabled>
						<directory translate="label comment">
							<label>Files location</label>
							<comment><![CDATA[In <strong>var</strong> directory.]]></comment>
							<frontend_type>text</frontend_type>
							<sort_order>2</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>0</show_in_website>
							<show_in_store>0</show_in_store>
						</directory>
						<format translate="label comment">
							<label>File format</label>
							<comment><![CDATA[Example: <strong>txt</strong> / <strong>csv;2</strong> / <strong>csv,3</strong> / <strong>csv,3"</strong>...]]></comment>
							<frontend_type>text</frontend_type>
							<sort_order>3</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>0</show_in_website>
							<show_in_store>0</show_in_store>
						</format>
						<cron_expr translate="label comment">
							<label>Cron expression</label>
							<comment><![CDATA[By default, everyday at 02:30 (<strong>30 2 * * *</strong>).<br />Maximum once per day.]]></comment>
							<frontend_type>text</frontend_type>
							<sort_order>4</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>0</show_in_website>
							<show_in_store>0</show_in_store>
						</cron_expr>
						<stats translate="label">
							<label>Statistics</label>
							<frontend_model>adminhtml/system_config_form_field_heading</frontend_model>
							<sort_order>10</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>0</show_in_website>
							<show_in_store>0</show_in_store>
						</stats>
						<stats_customer translate="label">
							<label>Number of customers</label>
							<frontend_type>label</frontend_type>
							<frontend_model>maillog/adminhtml_config_customer</frontend_model>
							<sort_order>11</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>0</show_in_website>
							<show_in_store>0</show_in_store>
						</stats_customer>
						<stats_bounce translate="label">
							<label>Number of bounces</label>
							<frontend_type>label</frontend_type>
							<frontend_model>maillog/adminhtml_config_bounce</frontend_model>
							<sort_order>12</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>0</show_in_website>
							<show_in_store>0</show_in_store>
						</stats_bounce>
						<stats_lastfile translate="label">
							<label>Last file processed</label>
							<frontend_model>maillog/adminhtml_config_status</frontend_model>
							<sort_order>13</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>0</show_in_website>
							<show_in_store>0</show_in_store>
						</stats_lastfile>
					</fields>
				</bounces>
				<unsubscribers translate="label comment">
					<label>Unsubscribers emails import</label>
					<comment><![CDATA[<p>This import allows to import unsubscribed emails from your newsletter <b>System</b> to <b>Magento</b>.<br />It is carried out punctually by cron task (maximum once per day) thanks to the newest file in the specified folder below.</p>]]></comment>
					<sort_order>6</sort_order>
					<show_in_default>1</show_in_default>
					<show_in_website>0</show_in_website>
					<show_in_store>0</show_in_store>
					<fields>
						<enabled translate="label">
							<label>Enable</label>
							<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_yesno</source_model>
							<sort_order>1</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>0</show_in_website>
							<show_in_store>0</show_in_store>
						</enabled>
						<directory translate="label comment">
							<label>Files location</label>
							<comment><![CDATA[In <strong>var</strong> directory.]]></comment>
							<frontend_type>text</frontend_type>
							<sort_order>2</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>0</show_in_website>
							<show_in_store>0</show_in_store>
						</directory>
						<format translate="label comment">
							<label>File format</label>
							<comment><![CDATA[Example: <strong>txt</strong> / <strong>csv;2</strong> / <strong>csv,3</strong> / <strong>csv,3"</strong>...]]></comment>
							<frontend_type>text</frontend_type>
							<sort_order>3</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>0</show_in_website>
							<show_in_store>0</show_in_store>
						</format>
						<cron_expr translate="label comment">
							<label>Cron expression</label>
							<comment><![CDATA[By default, everyday at 02:30 (<strong>30 2 * * *</strong>).<br />Maximum once per day.]]></comment>
							<frontend_type>text</frontend_type>
							<sort_order>4</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>0</show_in_website>
							<show_in_store>0</show_in_store>
						</cron_expr>
						<stats translate="label">
							<label>Statistics</label>
							<frontend_model>adminhtml/system_config_form_field_heading</frontend_model>
							<sort_order>10</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>0</show_in_website>
							<show_in_store>0</show_in_store>
						</stats>
						<stats_customer translate="label">
							<label>Number of customers</label>
							<frontend_type>label</frontend_type>
							<frontend_model>maillog/adminhtml_config_customer</frontend_model>
							<sort_order>11</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>0</show_in_website>
							<show_in_store>0</show_in_store>
						</stats_customer>
						<stats_subscriber translate="label">
							<label>Number of subscribers</label>
							<frontend_type>label</frontend_type>
							<frontend_model>maillog/adminhtml_config_subscriber</frontend_model>
							<sort_order>12</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>0</show_in_website>
							<show_in_store>0</show_in_store>
						</stats_subscriber>
						<stats_lastfile translate="label">
							<label>Last file processed</label>
							<frontend_model>maillog/adminhtml_config_status</frontend_model>
							<sort_order>13</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>0</show_in_website>
							<show_in_store>0</show_in_store>
						</stats_lastfile>
					</fields>
				</unsubscribers>
			</groups>
		</maillog>
	</sections>
</config>