<!--@subject Email send report@-->
<!--@vars {
"var frequency":"Report frequency",
"var date_period_from":"Begining date of the report",
"var date_period_to":"Ending date of the report",
"var total_email":"Number of email",
"var total_pending":"Number of pending email",
"var total_sending":"Number of sending email",
"var total_sent":"Number of email sent",
"var total_read":"Number of email open/read",
"var total_error":"Number of email on error",
"var total_notsent":"Number of email not sent",
"var error_list":"List of emails on error",
"var week_period":"Stats of the last week, dates",
"var week_total_email":"Stats of the last week, number of email",
"var week_percent_sent":"Stats of the last week, number of email sent",
"var week_percent_read":"Stats of the last week, number of email open/read",
"var lastweek_period":"Stats of the week before, dates",
"var lastweek_total_email":"Stats of the week before, number of email",
"var lastweek_percent_sent":"Stats of the week before, number of email sent",
"var lastweek_percent_read":"Stats of the week before, number of email open/read",
"var month_period":"Stats of the last month, dates",
"var month_total_email":"Stats of the last month, number of email",
"var month_percent_sent":"Stats of the last month, number of email sent",
"var month_percent_read":"Stats of the last month, number of email open/read",
"var lastmonth_period":"Stats of the month before, dates",
"var lastmonth_total_email":"Stats of the month before, number of email",
"var lastmonth_percent_sent":"Stats of the month before, number of email sent",
"var lastmonth_percent_read":"Stats of the month before, number of email open/read",
"var config":"Configuration address"
}@-->

<div style="margin:1em; font-size:12px;">
	<p>This is the {{var frequency}} report from the sending of emails.
	<br />Period from <strong>{{var date_period_from}}</strong> to <strong>{{var date_period_to}}</strong>.</p>

	<p>On the <strong>{{var total_email}}</strong> emails set:
	<br /><span style="color:#B3B4B3;">➩ Pending email(s): {{var total_pending}}</span>
	<br /><span style="color:#FF9C00;">➩ Sending email(s): {{var total_sending}}</span>
	<br /><span style="color:#FFC700;">➩ Sent email(s): {{var total_sent}}</span>
	<br /><span style="color:#3CB861;">➩ Open/read email(s): {{var total_read}}</span>
	<br /><span style="color:#E41101;">➩ On error email(s): {{var total_error}}</span>
	<br /><span style="color:purple;">➩ Not sent email(s): {{var total_notsent}}</span></p>

	<p style="margin:1.5em 0 0.5em; padding:1.3em 0 0; border-top:1px dashed #777;">Stats of the last week ({{var week_period}}):
	<br />➩ {{var week_total_email}} emails, <b>{{var week_percent_sent}}%</b> were sent, <b>{{var week_percent_read}}%</b> were open/read</p>

	<p style="margin:0.5em 0;">Stats of the week before ({{var lastweek_period}}):
	<br />➩ {{var lastweek_total_email}} emails, <b>{{var lastweek_percent_sent}}%</b> were sent, <b>{{var lastweek_percent_read}}%</b> were open/read</p>

	<p style="margin:0.5em 0;">Stats of the last month ({{var month_period}}):
	<br />➩ {{var month_total_email}} emails, <b>{{var month_percent_sent}}%</b> were sent, <b>{{var month_percent_read}}%</b> were open/read</p>

	<p style="margin:0.5em 0 1.5em;">Stats of the month before ({{var lastmonth_period}}):
	<br />➩ {{var lastmonth_total_email}} emails, <b>{{var lastmonth_percent_sent}}%</b> were sent, <b>{{var lastmonth_percent_read}}%</b> were open/read</p>

	{{depend error_list}}
		<ul style="margin:1.5em 0; padding:0.5em 0 0; font-size:0.9em; list-style:none; border-top:1px dashed #777;">
			<li style="margin:0.8em 0 0.5em;">{{var error_list}}</li>
		</ul>
	{{/depend}}

	<p style="font-size:0.8em; line-height:130%; font-style:italic; color:#6F6F6F;">{{config path='design/head/default_title'}} - Email send report
	<br /><a href="{{var config}}" style="color:#6F6F6F;">{{var config}}</a> - <a href="#online#" style="color:#6F6F6F;">view online</a> #readimg#</p>
</div>
