<!--@subject Informe de correos electrónicos enviados @-->
<!--@vars {
"var frequency":"Report frequency",
"var date_period_from":"Begining date of the report",
"var date_period_to":"Ending date of the report",
"var total_email":"Number of emails",
"var total_pending":"Number of pending emails",
"var total_sending":"Number of emails currently being sent",
"var total_sent":"Number of emails sent",
"var total_read":"Number of emails open/read",
"var total_error":"Number of emails on error",
"var total_unsent":"Number of emails unsent",
"var total_bounce":"Number of invalid emails",

"var import_bounces":"Last import of invalid emails",
"var import_unsubscribers":"Last import of unsubscribed emails",
"var sync":"Synchronization status",

"var items.period":"Statistics, dates",
"var items.total_email":"Statistics, number of email",
"var items.percent_sent":"Statistics, percent of email sent",
"var items.percent_read":"Statistics, percent of email open/read",
"var items.percent_unsent":"Statistics, percent of email unsent",
"var items.total_sync":"Statistics, number of synchronization",
"var items.percent_sync":"Statistics, percent of successful synchronization",

"var error_list":"List of emails on error",
"var config":"Configuration address"
}@-->

<div style="margin:1em; font-size:12px; line-height:16px;" lang="es">
	<p>Este es el informe {{var frequency}} en relación con los correos electrónicos enviados.
	<br />Período de <strong>{{var date_period_from}}</strong> al <strong>{{var date_period_to}}</strong>.</p>

	<p>Sobre los <strong>{{var total_email}}</strong> correos electrónicos previstos:
	<br /><span style="color:#B3B4B3;">➤ Correo(s) electrónico(s) en espera: {{var total_pending}}</span>
	<br /><span style="color:#FF9C00;">➤ Correo(s) electrónico(s) en curso de envio: {{var total_sending}}</span>
	<br /><span style="color:#FFC700;">➤ Correo(s) electrónico(s) enviado(s): <strong>{{var total_sent}}</strong></span>
	<br /><span style="color:#3CB861;">➤ Correo(s) electrónico(s) abierto(s)/leído(s): <strong>{{var total_read}}</strong></span>
	<br /><span style="color:#E41101;">➤ Correo(s) electrónico(s) en error: {{var total_error}}</span>
	<br /><span style="color:purple;">➤ Correo(s) electrónico(s) no enviado(s): {{var total_unsent}}</span>
	<br /><span style="color:black;">➤ Correo(s) electrónico(s) bloqueado(s): {{var total_bounce}}</span></p>

	{{depend import_bounces}}
		<p style="padding-left:0.5em; text-indent:-0.5em;">Importación de correos electrónicos inválidos: {{var import_bounces}}</p>
	{{/depend}}
	{{depend import_unsubscribers}}
		<p style="padding-left:0.5em; text-indent:-0.5em;">Importación de correos electrónicos de los desabonados: {{var import_unsubscribers}}</p>
	{{/depend}}

	<p style="margin:1.5em 0 0.5em; padding:1.15em 0 0; list-style:none; border-top:1px dashed #777;">Pequeño historial de datos (más abajo, los correos electrónicos no enviados correspondientes al total de todos los estados distintos de enviado y abierto/leído):</p>
	<table style="margin-bottom:1em;">
		<tr>
			<th></th>
			<td style="font-size:12px; line-height:15px;">|</td>
			<th scope="col" style="padding:2px 5px; font-size:12px; line-height:15px;">Correo electrónico</th>
			<th scope="col" style="padding:2px 5px; font-size:12px; line-height:15px;">enviado</th>
			<th scope="col" style="padding:2px 5px; font-size:12px; line-height:15px;">abierto/leído</th>
			<th scope="col" style="padding:2px 5px; font-size:12px; line-height:15px;">no enviado</th>
			{{depend sync}}
			<td style="font-size:12px; line-height:15px;">|</td>
			<th scope="col" style="padding:2px 5px; font-size:12px; line-height:15px;" title="Sincronización">Sinc.</th>
			<th scope="col" style="padding:2px 5px; font-size:12px; line-height:15px;">lograda</th>
			{{/depend}}
		</tr>
		{{foreach items}}
			<tr>
				<th scope="row" style="padding:2px 5px; line-height:15px; font-size:12px; font-weight:400;">{{var items.period}}</th>
				<td style="font-size:12px;">|<br />|</td>
				<td style="padding:2px 5px; line-height:15px; font-size:12px; text-align:left;"><strong>{{var items.total_email}}</strong></td>
				<td style="padding:2px 5px; line-height:15px; font-size:12px; text-align:left;">{{var items.percent_sent}}</td>
				<td style="padding:2px 5px; line-height:15px; font-size:12px; text-align:left;">{{var items.percent_read}}</td>
				<td style="padding:2px 5px; line-height:15px; font-size:12px; text-align:left;">{{var items.percent_unsent}}</td>
				{{depend sync}}
				<td style="font-size:12px;">|<br />|</td>
				<td style="padding:2px 5px; line-height:15px; font-size:12px; text-align:left;">{{var items.total_sync}}</td>
				<td style="padding:2px 5px; line-height:15px; font-size:12px; text-align:left;">{{var items.percent_sync}}</td>
				{{/depend}}
			</tr>
		{{/foreach}}
	</table>

	{{depend error_list}}
		<ul style="margin:1.5em 0; padding:0.5em 0 0; font-size:0.9em; line-height:1.3em;list-style:none; border-top:1px dashed #777;">
			<li style="margin:0.8em 0 0.5em;">{{var error_list}}</li>
		</ul>
	{{/depend}}

	<p style="font-size:0.8em; line-height:1.35em; font-style:italic; color:#6F6F6F;">{{config path='design/head/default_title'}} - Informe de correos electrónicos enviados
	<br /><a href="{{var config}}" style="color:#6F6F6F;">{{var config}}</a> - <a href="#online#" style="color:#6F6F6F;">ver la versión en línea</a> #readimg# #mailid#cron#</p>
</div>