<!--@subject Rapport des emails envoyés 💌 @-->

<div style="margin:1em; font-size:12px; line-height:16px;" lang="fr">
	<p>Voici le rapport {{var frequency}} par rapport aux envois des emails.
	<br />Période du <strong>{{var date_period_from}}</strong> au <strong>{{var date_period_to}}</strong>.</p>

	<p>Sur les <strong>{{var total_email}}</strong> emails prévus :
	<br /><span style="color:#B3B4B3;">➤ Email(s) en attente : {{var total_pending}}</span>
	<br /><span style="color:#FF9C00;">➤ Email(s) en cours d'envoi : {{var total_sending}}</span>
	<br /><span style="color:#FFC700;">➤ Email(s) envoyé(s) : <strong>{{var total_sent}}</strong></span>
	<br /><span style="color:#3CB861;">➤ Email(s) ouvert(s)/lu(s) : <strong>{{var total_read}}</strong></span>
	<br /><span style="color:#E41101;">➤ Email(s) en erreur : {{var total_error}}</span>
	<br /><span style="color:purple;">➤ Email(s) non envoyé(s) : {{var total_unsent}}</span>
	<br /><span style="color:black;">➤ Email(s) bloqué(s) : {{var total_bounce}}</span></p>

	{{depend import_bounces}}
		<p style="padding-left:0.5em; text-indent:-0.5em;">Import des emails invalides : {{var import_bounces}}</p>
	{{/depend}}
	{{depend import_unsubscribers}}
		<p style="padding-left:0.5em; text-indent:-0.5em;">Import des emails désabonnés : {{var import_unsubscribers}}</p>
	{{/depend}}

	<p style="margin:1.5em 0 0.5em; padding:1.15em 0 0; list-style:none; border-top:1px dashed #777;">Petit historique des données (ci-dessous, les emails non envoyés correspondent au total de tous les statuts autres que envoyé et ouvert/lu) :</p>
	<table style="margin-bottom:1em;">
		<tr>
			<th></th>
			<td style="font-size:12px; line-height:15px;">|</td>
			<th scope="col" style="padding:2px 5px; font-size:12px; line-height:15px;">Email</th>
			<th scope="col" style="padding:2px 5px; font-size:12px; line-height:15px;">envoyé</th>
			<th scope="col" style="padding:2px 5px; font-size:12px; line-height:15px;">ouvert/lu</th>
			<th scope="col" style="padding:2px 5px; font-size:12px; line-height:15px;">non envoyé</th>
			{{depend sync}}
			<td style="font-size:12px; line-height:15px;">|</td>
			<th scope="col" style="padding:2px 5px; font-size:12px; line-height:15px;" title="Synchronisation">Sync.</th>
			<th scope="col" style="padding:2px 5px; font-size:12px; line-height:15px;">réussie</th>
			{{/depend}}
		</tr>
		{{foreach items}}
			<tr>
				<th scope="row" style="padding:2px 5px; line-height:15px; font-size:12px; font-weight:400;">{{var items.period}}</th>
				<td style="font-size:12px;">|<br />|</td>
				<td style="padding:2px 5px; line-height:15px; font-size:12px; text-align:left;"><strong>{{var items.total_email}}</strong></td>
				<td style="padding:2px 5px; line-height:15px; font-size:12px; text-align:left;">{{var items.percent_sent}}</td>
				<td style="padding:2px 5px; line-height:15px; font-size:12px; text-align:left;">{{var items.percent_read}}</td>
				<td style="padding:2px 5px; line-height:15px; font-size:12px; text-align:left;">{{var items.percent_unsent}}</td>
				{{depend sync}}
				<td style="font-size:12px;">|<br />|</td>
				<td style="padding:2px 5px; line-height:15px; font-size:12px; text-align:left;">{{var items.total_sync}}</td>
				<td style="padding:2px 5px; line-height:15px; font-size:12px; text-align:left;">{{var items.percent_sync}}</td>
				{{/depend}}
			</tr>
		{{/foreach}}
	</table>

	{{depend error_list}}
		<ul style="margin:1.5em 0; padding:0.5em 0 0; font-size:0.9em; line-height:1.3em; list-style:none; border-top:1px dashed #777;">
			<li style="margin:0.8em 0 0.5em;">{{var error_list}}</li>
		</ul>
	{{/depend}}

	<p style="font-size:0.8em; line-height:1.35em; font-style:italic; color:#6F6F6F;">{{config path='design/head/default_title'}} - Rapport des emails envoyés 💌
	<br /><a href="{{var config}}" style="color:#6F6F6F;">{{var config}}</a> - <a href="#online#" style="color:#6F6F6F;">voir la version en ligne</a> #readimg# #mailid#cron#</p>
</div>

{{depend test}}
<pre>
variable = {{var variable}}
 A / if variable gt  0 / {{if variable gt 0}}  true {{else}} false {{/if}}
 B / if variable gte 0 / {{if variable gte 0}} true {{else}} false {{/if}}
 C / if variable lt  0 / {{if variable lt 0}}  true {{else}} false {{/if}}
 D / if variable lte 0 / {{if variable lte 0}} true {{else}} false {{/if}}
 E / if variable eq  0 / {{if variable eq 0}}  true {{else}} false {{/if}}
 F / if variable neq 0 / {{if variable neq 0}} true {{else}} false {{/if}}
 G / if variable gt  90 elseif gt  45 / {{if variable gt 90}}  true1 {{elseif variable gt 45}}  true2 {{else}} false {{/if}}
 H / if variable gte 90 elseif gte 45 / {{if variable gte 90}} true1 {{elseif variable gte 45}} true2 {{else}} false {{/if}}
 I / if variable lt  90 elseif lt  45 / {{if variable lt 90}}  true1 {{elseif variable lt 45}}  true2 {{else}} false {{/if}}
 J / if variable lte 90 elseif lte 45 / {{if variable lte 90}} true1 {{elseif variable lte 45}} true2 {{else}} false {{/if}}
 K / if variable eq  90 elseif eq  45 / {{if variable eq 90}}  true1 {{elseif variable eq 45}}  true2 {{else}} false {{/if}}
 L / if variable neq 90 elseif neq 45 / {{if variable neq 90}} true1 {{elseif variable neq 45}} true2 {{else}} false {{/if}}
 M / if variable gt  variable / {{if variable gt variable}}  true {{else}} false {{/if}}
 N / if variable gte variable / {{if variable gte variable}} true {{else}} false {{/if}}
 O / if variable lt  variable / {{if variable lt variable}}  true {{else}} false {{/if}}
 P / if variable lte variable / {{if variable lte variable}} true {{else}} false {{/if}}
 Q / if variable eq  variable / {{if variable eq variable}}  true {{else}} false {{/if}}
 R / if variable neq variable / {{if variable neq variable}} true {{else}} false {{/if}}
variable2 = array(...)
{{foreach variable2}} S / variable2.abc = {{var variable2.abc}} {{/foreach}}
{{foreach variable2}} T / variable2.abc = {{var variable2.abc}} {{forelse}} T / empty foreach {{/foreach}}
{{foreach variable3}} U / not empty foreach {{forelse}} U / empty foreach {{/foreach}}
</pre>
{{ dump }}
{{/depend}}