/**
 * Copyright 2015 | Fabrice Creuzot (luigifab) <code~luigifab~info>
 * Created D/22/03/2015, updated V/26/06/2015, version 12
 * https://redmine.luigifab.info/projects/magento/wiki/maillog
 *
 * This program is free software, you can redistribute it or modify
 * it under the terms of the GNU General Public License (GPL).
 */

/* &&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&& global &&& */
body.adminhtml-maillog-history-index h3.icon-head, body.adminhtml-maillog-history-view h3.icon-head {
	min-height:19px; background:url("../../../images/fam_lorry.gif") no-repeat left center;
}

/* &&&&&&&&&&&&&&&&&&&&&&&&&&&& maillog/history/index &&& **
 * utilise body div[id*=] au lieu de body.adminhtml-maillog-history-index
 * pour maillog/history/index ET customer/edit ET sales/order/view
 */
body div[id*="maillog"] table.data tr:hover { background-color:#DEDEDE; }

body div[id*="maillog"] table.data tr.parts td.a-right {
	background:url("../../../images/luigifab/maillog/gnome-mail-attachment.png") no-repeat center left;
}

body div[id*="maillog"] table.data tr td.a-status span {
	display:block; height:17px; line-height:17px; text-align:center;
	font-size:10px; font-weight:bold; text-transform:uppercase; color:white; border-radius:10px;
}

body div[id*="maillog"] table.data tr td.a-status span.grid-pending { background-color:#FF9C00; }
body div[id*="maillog"] table.data tr td.a-status span.grid-sent { background-color:#B3B4B3; }
body div[id*="maillog"] table.data tr td.a-status span.grid-read { background-color:#3CB861; }
body div[id*="maillog"] table.data tr td.a-status span.grid-error { background-color:#E41101; }

body.adminhtml-customer-edit #loading-mask,
body.adminhtml-sales-order-view #loading-mask,
body.adminhtml-maillog-history-index #loading-mask { background-color:rgba(255,255,255, 0.5); }

body.adminhtml-customer-edit #loading_mask_loader,
body.adminhtml-sales-order-view #loading_mask_loader,
body.adminhtml-maillog-history-index #loading_mask_loader { margin-left:-120px; margin-top:-30px; }

/* &&&&&&&&&&&&&&&&&&&&&&&&&&&&& maillog/history/view &&& */
body.adminhtml-maillog-history-view div.content-header td { width:auto !important; }
body.adminhtml-maillog-history-view div.content div { display:table; margin:1.4em auto; width:100%; border-spacing:1em 0; border-collapse:separate; }
body.adminhtml-maillog-history-view div.content ul + ul { width:62%; }

body.adminhtml-maillog-history-view div.content ul {
	display:table-cell; margin:0; padding:0.7em 1em; height:7.2em;
	font-size:13px; border-radius:1em; border:1px solid #DDD; background-color:#EFEFEF; background-clip:padding-box;
}

body.adminhtml-maillog-history-view div.content object {
	display:block; margin:1em auto; min-height:26em;
	width:calc(100% - 2em); width:-moz-calc(100% - 2em); width:-webkit-calc(100% - 2em);
	border-radius:1em; border:1px solid #DDD;
}

/* &&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&& system/config &&& */
#config_edit_form[action*="system_config/save/section/maillog"] tr[id*="_stats_"] td.scope-label { display:none; }
#config_edit_form[action*="system_config/save/section/maillog"] p.note { padding-top:4px; line-height:125%; }

/* &&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&& animation &&& */
body div[id*="maillog"] table.data tr td.a-status span.grid-error,
body.adminhtml-maillog-history-view div.content ul li strong.status-error {
	animation:maillogBlink 1s step-start 0s infinite; -moz-animation:maillogBlink 1s step-start 0s infinite;
	-webkit-animation:maillogBlink 1s step-start 0s infinite;
}

@keyframes maillogBlink { 30% { color:transparent; } }
@-moz-keyframes maillogBlink { 30% { color:transparent; } }
@-webkit-keyframes maillogBlink { 30% { color:transparent; } }